<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBolkMUXmx5lHRLXpOEtUVnNONLX16NFY4</string>
	<key>GCM_SENDER_ID</key>
	<string>111039995579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loanKeeper</string>
	<key>PROJECT_ID</key>
	<string>loankeeper-8052c</string>
	<key>STORAGE_BUCKET</key>
	<string>loankeeper-8052c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111039995579:ios:00905e733e999b739fd39e</string>
</dict>
</plist>